{% extends 'shop/basic.html' %}
{% block css %}
<style>
  .col-md-3 {
    display: inline-block;
    margin-left: -4px;
  }

  .col-md-3 img {
    width: 170px;
    height: 200px;
  }

  body .carousel-indicator {
    background-color: blue;
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    background-color: blue;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: auto;
    bottom: auto;
  }

  body .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .cart {
    margin-top: 50px;
  }
</style>
{% endblock %}

</head>
{% block body %}

{% endblock %}